@model AnnouncementAddDTO

@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Yeni Duyuru Oluşturma Sayfası</h5>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-company">DUYURU BAŞLIĞI</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text">
                        <i class="bx bx-align-middle"></i>
                    </span>
                    <input type="text" asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-fullname">DUYURU İÇERİĞİ</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text">
                        <i class="bx bx-message-square-detail"></i>
                    </span>
                    <input type="text" asp-for="Content" class="form-control" />
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

