@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">TUR ROTALARI</h5>
        @* <a class="btn btn-primary float-end" href="/Admin/Destination/AddDestination/"><i class="bx bx-plus me-1"></i> Yeni Rota Oluştur</a> *@
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>GÖNDEREN</th>
                    <th>KONU</th>
                    <th>TARİH</th>
                    <th>EYLEMLER</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Subject</td>
                        <td>@item.MessageDate.ToString("dd-MMMM-yyyy")</td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="/Admin/Destination/DeleteDestination/@item.ContactUsID"><i class="bx bxs-trash me-1"></i> Sil</a>
                            <a class="btn btn-sm btn-secondary" href="/Admin/Destination/UpdateDestination/@item.ContactUsID"><i class="bx bx-envelope me-1"></i> Mesajı Aç</a>
                            @* <a class="btn btn-primary" href="#"><i class="bx bx-show me-1"></i> Detaylar</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

