@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@await Component.InvokeAsync("_SliderPartial")

@await Component.InvokeAsync("_PopularDestinationsPartial")

@await Component.InvokeAsync("_StatisticsPartial")

<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">

            @await Component.InvokeAsync("_FeaturePartial")

            @await Component.InvokeAsync("_Feature2Partial")

        </div>
    </div>
</div>

@await Component.InvokeAsync("_SubAboutPartial")

@await Component.InvokeAsync("_TestimonialPartial")