@model List<Reservation>
@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">KULANICININ REZERVASYON GEÇMİŞİ</h5>
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>MİSAFİR AD SOYAD</th>
                    <th>ROTA</th>
                    <th>KİŞİ SAYISI</th>
                    <th>TARİH</th>
                    <th>DETAYLAR</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>---------</td>
                        <td>@item.Destination.City</td>
                        <td>@item.PersonCount</td>
                        <td>@(((DateTime)item.ReservationDate).ToString("dd-MMMM-yyyy"))</td>
                        <td><a href="#" class="btn btn-sm btn-outline-primary">Detaylar</a></td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

