<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-directions"></i>
            <div data-i18n="Basic">Rotalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-comment-dots"></i>
            <div data-i18n="Boxicons">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-user-account"></i>
            <div data-i18n="Tables">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-message-rounded-detail"></i>
            <div data-i18n="Support">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-book"></i>
            <div data-i18n="Documentation">Rehberlerimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Excel/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Documentation">Raporlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-envelope"></i>
            <div data-i18n="Tables">Mail Gönder</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-bookmark-star"></i>
            <div data-i18n="Tables">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-bookmarks"></i>
            <div data-i18n="Tables">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-book-reader"></i>
            <div data-i18n="Tables">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-message-alt-error"></i>
            <div data-i18n="Tables">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-calendar-edit"></i>
            <div data-i18n="Tables">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-envelope"></i>
            <div data-i18n="Tables">Mail Listesi</div>
        </a>
    </li>    
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-key"></i>
            <div data-i18n="Tables">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-cog"></i>
            <div data-i18n="Tables">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-exit"></i>
            <div data-i18n="Tables">Çıkış Yap</div>
        </a>
    </li>
</ul>